doctype html
head
  title Chatbot
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='../server.js')
  
  // Fonts
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap' rel='stylesheet')
body
  main
    div.container
      script.
        function run(){
          alert('test')
        }
      form(id='chat' method='POST' action='/bot')
        label(for='text-input') Say something:
        input#text-input.form-control(type='text', placeholder='Say Hello' name='text-input')
        button(class = 'btn.btn-primary', type = "submit", value="Submit", method="get", name='send-to-bot', onclick='call_bot()')  Send




